<h1>batman_vs_superman</h1>
<div class="alert alert-success">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
<%= flash[:notice] %>
</div>
<div class="container-fluid">
<div class="row">
  
  <div id="batman"  class="pgBatmanSuperman col-md-6">
  <a href="<%= pages_batman_path %>">Batman</a>
	<form method="POST" action="<%= pages_vota_batman_path %>">
	<%= hidden_field_tag :authenticity_token,
	form_authenticity_token %>
	<label for="email">email:</label>
 	<input  class="negritas"type="email" name="email">
	<input class="negritas" type="submit" value="Votar">
	</form>
  </div>
  
  
  <div id="superman" class="pgBatmanSuperman col-md-6">
  <a href="<%= pages_superman_path %>">Superman</a>
  	<form method="POST" action="<%= pages_vota_superman_path %>">
	<%= hidden_field_tag :authenticity_token,
	form_authenticity_token %>
	<label for="email">email:</label>
 	<input class="negritas" type="email" name="email">
	<input class="negritas"type="submit" value="Votar">
	</form>
  </div>
  
 </div>
</div>